<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Preferences</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Display units</string>
			<key>Key</key>
			<string>SETTINGS_UNITS</string>
			<key>DefaultValue</key>
			<string>M</string>
			<key>Titles</key>
			<array>
				<string>Miles</string>
				<string>Kilometers</string>
			</array>
			<key>Values</key>
			<array>
				<string>M</string>
				<string>KM</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Position frequency</string>
			<key>Key</key>
			<string>SETTINGS_FREQUENCY</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Titles</key>
			<array>
				<string>Maximum (Recommended)</string>
				<string>Every 10 meters</string>
				<string>Every 20 meters</string>
				<string>Every 50 meters</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>10</integer>
				<integer>20</integer>
				<integer>50</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Body weight</string>
			<key>Key</key>
			<string>SETTINGS_WEIGHT</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Age</string>
			<key>Key</key>
			<string>SETTINGS_AGE</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>SmartHF account</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>User name</string>
			<key>Key</key>
			<string>SETTINGS_ACC_LOGIN</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Password</string>
			<key>Key</key>
			<string>SETTINGS_ACC_PASSWORD</string>
			<key>IsSecure</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use Facebook</string>
			<key>Key</key>
			<string>SETTINGS_USE_FB</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Another settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Auto-upload</string>
			<key>Key</key>
			<string>SETTINGS_UPLOAD_LOGS</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Wake lock</string>
			<key>Key</key>
			<string>SETTINGS_WAKE_LOCK</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>New version alert</string>
			<key>Key</key>
			<string>SETTINGS_ALERT_VERSIONS</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show welcome wizard</string>
			<key>Key</key>
			<string>SETTINGS_SHOW_WIZARD</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Heart rate monitor</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use monitor</string>
			<key>Key</key>
			<string>SETTING_USE_HRM</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
